
{% extends "base.html" %}

{# 정적 파일 로드 #}
{% load static %}

    {% block content %}
    <h1>블록 내부 in Example.html</h1>
    {# {% url '앱이름 : url이름'%} #}
     <h1>URL TAG <a href="{% url 'my_app:variable' %}">Click go to Variable</a></h1>

    <img src="{% static "my_app/image1.png" %}" alt='my_image'>
    
    {% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> example html template connected </h1>
    {# {% url '앱이름 : url이름'%} #}
    <h1>URL TAG <a href="{% url 'my_app:variable' %}">Click go to Variable</a></h1>
</body>
</html> -->



