<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>

    <!-- 전달된 context 사용 -->
    {% comment %} 템플릿 레벨 필터 | {% endcomment %}
    <h2>성은 {{first_name | lower | capfirst}} 이고 이름은 {{last_name | capfirst}} 입니다. </h2> 
    <h2>{{some_list}}</h2>
    <!-- indexing -->
    <h3>list index 0의 값은? {{some_list.0}}</h3>
    <h2>{{some_dict.inside_key}}</h2>
    <h2>django context 주석은 { # 내용 # } {# 이건 주석 #}</h2>
</body>
</html>